#names {
     font-family: Arial, Helvetica, sans-serif;
     border-collapse: collapse;
     width: 100%;
}
 #names td, #names th {
     border: 1px solid #ddd;
     padding: 8px;
}
 #names tr:nth-child(even){
    background-color: #4d5450;
}
 #names tr:hover {
    background-color: #de1241;
}
 #names th {
     padding-top: 12px;
     padding-bottom: 12px;
     text-align: left;
     background-color: #04AA6D;
     color: white;
}
 h1 {
     text-align: center;
     font-size: 250%;
     color: #e64090;
}
 td {
     color: #ffffff;
}
 body {
     background-color: #232626;
}
 .btn {
     background-color: #ed2435;
     color: #fff7fa;
     font-size: 20px;
     transition-duration: 0.5s;
     border: 2px solid #2fde26;
     border-radius: 8px;
     font-family: 'Fredoka One', cursive;
}
 .buttons {
     text-align: right;
}
 .btn:hover {
     background: #2fde26;
     box-shadow: 0 0 5px #2fde26, 0 0 25px #2fde26, 0 0 50px #2fde26;
     cursor: pointer;
}
