 .btn {
     background-color: #4287f5;
     color: #fff7fa;
     font-size: 20px;
     transition-duration: 0.5s;
     border: 2px solid #ff96ad;
     border-radius: 8px;
     font-family: 'Fredoka One', cursive;
}
 .buttons {
     text-align: center;
}
 .btn:hover {
     background: #ff96ad;
     box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad;
     cursor: pointer;
}
 h2 {
     font-size: 145%;
     font-family: 'Knewave', cursive;
     color: #9f52de;
}
 h1 {
     font-family: 'Fredoka One', cursive;
     text-align: center;
     font-size: 300%;
     color: #e64090;
}
 .description {
     color: rgb(22, 196, 97);
     text-align: center;
     font-family: 'Fredoka One', cursive;
}
 .avatar {
     display: block;
     margin-left: auto;
     margin-right: auto;
     border: 4px solid #46edf2;
     border-radius: 100%;
     width: 20%;
     height: 20%;
     -webkit-transform: -webkit-transform .8s ease-in-out;
     transition: transform .8s ease-in-out;
}
 .avatar:hover {
     -webkit-transform: rotate(360deg);
     transform: rotate(360deg) 
}
 p, span {
     color: #46edf2;
}
 body {
     background-color: #232626;
}
 h3 {
     color: #7289da;
     font-family: 'Knewave', cursive;
     text-align: center;
     font-size: 150% 
}
 hr {
     border-color: #2fc4c4;
}
